@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "inter", sans-serif;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #858585;
}

::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 0.7rem;
}